<!-- This is the customer login page!-->
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'styles.css') }}">
</head>
<body>
 <a href="/"><img src="static/images/logo.png" alt='logo' class="logo"/></a>

   <!-- Catching the info entered by the customer!-->
	<div class="form">
	<div class="title">Login</div>
    <form action="/login_customer" method="POST">
    <div class="input-container ic1">
    <input autocomplete="off" type="email" class="input" name="email" required >
	<div class="cut"></div>
	<label for="Email" class="placeholder">Email</label>

	</div>
	
	<div class="input-container ic2">
	<input autocomplete="off" type="password" class="input" name="password" required><br>
	<div class="cut"></div>
    <label for="Password" class="placeholder">Password</label>
    </div>
	<!-- Error handling!-->
		  {% with messages = get_flashed_messages() %}
		{%if messages %}
			{%for message in messages %}
				<h5>{{message}}</h5>
			{% endfor %}
		{% endif %}
	  {% endwith %}
	  
    <input type="submit" class="submit" name="login_customer" value="Submit">
	<br><br>
	<!-- Redirect to the signup page!-->
    <a href="/register_customer" class="button">Not registered yet? Sign Up</a><br>
	  </div>
	  


	 
   </form>
   

 

</body>
</html>